*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    background-color: #3EBFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    min-height: 45px;
}

h1{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 30px;
}


#_items{
    display: flex;
    align-items: center;
}

#_items a {

    color: #fff;

    /* quita los estilos del hover */
    background-color: none;
    padding: 0;
    border-radius:0;

    font-family: 'Fraunces', serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 40px;

    transition: padding 1s,  background-color 3s, border-radius 2.5s

}

#_items a:hover{
    color: black;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    border-radius: 31px 36px;

    padding: 10px 20px;
    transition: padding 1s,  background-color 2s;
}


.nav_items{
    display: flex;
}

.nav_toggle{
    display: none;
}

@media (max-width: 768px) {

    header{
        background-color: #3EBFFF;
        padding: 5px 30px;
    }
    .nav_items{
        margin-top: 10px;
        position: absolute;
        top: 58px;
        background-color: #fff;
        z-index: 3; /* para sobreponer el elementos */
        display: flex;
        flex-direction: column;
        width: 80%;
        height:300px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        border-radius: 10px;
    }
    .nav_items a{ 
        color: #84828C !important;
        margin: 20px 0;
        font-weight: bold;
    }

    .nav_items a:nth-last-child(1){ 
        background-color: #FBD601 !important;
        border-radius: 31px 36px !important;
        padding: 10px 20px !important; 

    }

    

    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
        cursor: pointer;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .close span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2){
        display: none;
    }

    .close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open{ transform: translateX(0) !important}
}
